Source: epsoneplijs
Section: text
Priority: extra
Maintainer: Dmitry Frolov <dmitry.frolov@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libieee1284-3-dev, libusb-dev, autoconf, libtool
Standards-Version: 3.9.4
Homepage: http://epsonepl.sourceforge.net/
Vcs-Browser: https://github.com/lorf/epsoneplijs

Package: epsoneplijs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Printer driver for the Epson EPL range of printers
 Support for the Epson EPL-5700L/5800L/5900L/6100L/6200L printer family under
 linux and other unix-like systems.  It is known to work for at least one user
 for each of 5700L, 5800L, 5900L, and 6100L. 6100L and 6200L support is new.


Package: epsoneplijs-doc
Architecture: all
Description: documentation for epsoneplijs
