#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@  --with autotools-dev --with autoreconf

override_dh_auto_build:
	dh_auto_build
	$(MAKE) test5700lusb
	gcc -g -O2 -Wall -pedantic -Wmissing-prototypes -o epl-5700 epl_docs/epl-5700.c
	gcc -g -O2 -Wall -pedantic -Wmissing-prototypes -o epl-5800 epl_docs/epl-5800.c
	gcc -g -O2 -Wall -pedantic -Wmissing-prototypes -o epl5x00l epl_docs/epl5x00l.c

override_dh_auto_install:
	dh_auto_install
	install -d -m 0755 debian/epsoneplijs/usr/bin
	install -c -m 0755 ps2epl.pl test5700lusb epl-5700 epl-5800 epl5x00l debian/epsoneplijs/usr/bin/
	install -d -m 0755 debian/epsoneplijs/usr/share/foomatic/db/source/driver
	install -m 0644 foomatic/driver/* debian/epsoneplijs/usr/share/foomatic/db/source/driver/
	install -d -m 0755 debian/epsoneplijs/usr/share/foomatic/db/source/opt
	install -m 0644 foomatic/opt/* debian/epsoneplijs/usr/share/foomatic/db/source/opt/
	install -d -m 0755 debian/epsoneplijs/usr/share/foomatic/db/source/printer
	install -m 0644 foomatic/printer/* debian/epsoneplijs/usr/share/foomatic/db/source/printer/
	install -d debian/epsoneplijs/usr/share/cups/model/foomatic-ppds/Epson
	install -m 0644 foomatic_PPDs/Epson-EPL-*-cups.ppd.gz debian/epsoneplijs/usr/share/cups/model/foomatic-ppds/Epson/
